In [ ]:
library(tidyverse)
install.packages("skimr")
library(skimr)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
disney<-("/disney_plus_titles.csv")

In [ ]:
disney %>% is.na()
disney %>% is_null()

[1] FALSE

[1] FALSE

In [ ]:
is.na(disney)

[1] FALSE

In [ ]:
sum(is.na(disney))

[1] 0

In [ ]:
y=na.omit(disney)
z=mean(y)

Warning message in mean.default(y):
“argument is not numeric or logical: returning NA”

In [ ]:
skim_without_charts(disney)

── Data Summary ────────────────────────
                           Values
Name                       disney
Number of rows             1
Number of columns          1
_______________________
Column type frequency:
  character                1
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable n_missing complete_rate   min   max empty n_unique whitespace
1 data                  0             1    31    31     0        1          0

In [ ]:
netflix<-("/content/netflix_titles.csv")

In [ ]:
head(netflix)
ncol(netflix)
nrow(netflix)
n_distinct(netflix)

colnames(netflix)

netflix %>% is.na()
netflix %>% is_null()

netflix %>% is.na() %>% sum()
netflix %>% is_null %>% sum()

str(netflix)
skim_without_charts(netflix)

[1] "/content/netflix_titles.csv"

NULL

NULL

[1] 1

NULL

[1] FALSE

[1] FALSE

[1] 0

[1] 0

 chr "/content/netflix_titles.csv"
── Data Summary ────────────────────────
                           Values
Name                       netflix
Number of rows             1
Number of columns          1
_______________________
Column type frequency:
  character                1
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable n_missing complete_rate   min   max empty n_unique whitespace
1 data                  0             1    27    27     0        1          0